/
* {
    box-sizing: border-box;
}


/* ------body styling-------- */
#weather {
    background-image: url("../imgs/background-images/day.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

button {
    height: 2.5vw;
    width:  8%;
    margin: auto;
    background-image:url("../imgs/Search.png");
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-color: #00664d;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 5px;
    font-family: 'Helvetica', sans-serif;
    font-size: 2vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0.8;
  }

  button:active {
    border-color: red;
  }

  .ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;

  }

  #icon  i {
   line-height: 1;
   text-align: center;
   Move Up: -50px;
    width: 100%;
    margin: auto;
    font-size: 18vw;
    opacity: 0.8;
  }


  #description {
    border-left: thick solid #ccc;
    border-left-width: 5px;
    padding-left: 4%;
  }

  .temperature {
    position: relative;
    top: 25px;
    padding-top: 15px;
    margin:  auto;
    width: 50%;
    font-size: 5vw;
    opacity: 0.85;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 3%;
  }

  #location {
    position: center;
    margin: auto;
    width:50%;
   font-size: 4vw;
   opacity: 0.9;
  }

  .location {
    position: relative;
    text-align: center;
    margin-bottom: 5%;

  }

  #humidity, #pressure, #windSpeed, #wind-direction, #unit, #visibility, #uv , #feelslike, #dewpoint {
    font-size: 1.5vw;
  }

  .humidity-description, .pressure-description, .speed-description, .direction-description, .visibility-description, .uv-description, .feelslike-description, .dewpoint-description {
      font-size: 1.5vw;
      padding-left: 18px;
  }

  img {
    width: 10%;
    height: 10%;
  }

  .humidity1, .pressure1, #wind-speed, #wind-direction {
    padding-bottom: 5px;
  }


  ul {
      list-style-type: none;
      padding-left: 10px;
      padding-right: 10px;
  }


  .verticalLine2{
  border-left: thick solid #ddd;
  border-left-width: 5px;
  border-right: thick solid #ddd;
  border-right-width: 5px;
  padding-left: 10px;
  float: right;
  margin: auto;
  width: 24%;
  }

  .verticalLine1 {

  padding-left: 10px;
  float: right;
  margin: auto;
  width: 20%;
  }

  #days {
    font-size: 0.8vw;

  }

  #vertical2, #vertical3, #vertical4, #vertical1, #vertical5 {
    display: inline-block;
    border: thick solid #ddd;
    border-width: 5px;
    width: 11%;

  }

  #day1, #day2, #day3, #day4, #day5 {
    font-size: 1.5vw;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
  }

  #date1, #date2, #date3, #date4, #date5 {
    font-size: 1vw;
    margin-bottom: 10%;
    text-align: center;
  }

  #icon1, #icon2, #icon3, #icon4, #icon5 {
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;
  }

    #condi1, #condi2, #condi3, #condi4, #condi5 {
    margin-bottom: 8%;
    text-align: center;
  }

  .lowdis {
    font-size: 1vw;
  }

  .highdis {
  float: right;
  font-size: 1vw;
  }

  #date {
      font-size: 3vw;
      opacity: 0.5;
  }

  .today-date {
    text-align: center;
  }

  #icon12345 {
    font-size: 3vw;
  }

  #form {
    margin: auto;
    position: static;
  }

  #low1, #low2, #low3, #low4, #low5 {
  padding-left: 6%;
  font-size: 1.5vw;
  font-weight: bold;
  }

  #high1, #high2, #high3, #high4, #high5 {
    font-size: 1.5vw;
    font-weight: bold;
    float: right;
    padding-right: 6%;
  }

  /* the search form styling*/
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #333;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #222;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #222;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #222;
  }

#searchbar {
  margin: auto;
  width: 98%;
  margin-bottom: 8%;
}

  #search1, #search2 {
    float: left;
    width: 40%;
    height: 10%;
    margin-left: 0.5%
  }
  #search3 {
    margin-left: 1%;

  }

  .flexsearch--input {
    height: 2.5vw;
    text-align: center;
    color: #111;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-color: #333;
    border-radius: 35px; /* (height/2) + border-width */
    border-style: solid;
    border-width: 5px;
    font-family: 'Helvetica', sans-serif;
    font-size: 2vw;
    font-weight: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0.7;
    padding-bottom: 6px;
  }

  .flexsearch--input:focus {
    border-color: #999;

  }

 /********  footer *******/
 .footer-distributed{
 	background-color: #292c2f;
 	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 	box-sizing: border-box;
 	width: 100%;
 	text-align: left;
 	font: bold 16px sans-serif;

 	padding: 55px 50px;
 	margin-top: 80px;
 }

 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 	display: inline-block;
 	vertical-align: top;
 }

 /* Footer left */

 .footer-distributed .footer-left{
 	width: 40%;
 }

 /* The company logo */

 .footer-distributed h3{
 	color:  #ffffff;
 	font: normal 36px 'Cookie', cursive;
 	margin: 0;
 }

 .footer-distributed h3 span{
 	color:  #5383d3;
 }



 .footer-distributed .footer-company-name{
 	color:  #8f9296;
 	font-size: 14px;
 	font-weight: normal;
 	margin-left: 2%;
 }

 /* Footer Center */

 .footer-distributed .footer-center{
 	width: 35%;
 }

 .footer-distributed .footer-center i{
 	background-color:  #33383b;
 	color: #ffffff;
 	font-size: 25px;
 	width: 38px;
 	height: 38px;
 	border-radius: 50%;
 	text-align: center;
 	line-height: 42px;
 	margin: 10px 15px;
 	vertical-align: middle;
 }

 .footer-distributed .footer-center i.fa-envelope{
 	font-size: 17px;
 	line-height: 38px;
 }

 .footer-distributed .footer-center p{
 	display: inline-block;
 	color: #ffffff;
 	vertical-align: middle;
 	margin:0;
 }

 .footer-distributed .footer-center p span{
 	display:block;
 	font-weight: normal;
 	font-size:14px;
 	line-height:2;
 }

 .footer-distributed .footer-center p a{
 	color:  #5383d3;
 	text-decoration: none;;
 }


 /* Footer Right */

 .footer-distributed .footer-right{
 	width: 20%;
 }

 .footer-distributed .footer-company-about{
 	line-height: 20px;
 	color:  #92999f;
 	font-size: 13px;
 	font-weight: normal;
 	margin: 0;
 }

 .footer-distributed .footer-company-about span{
 	display: block;
 	color:  #ffffff;
 	font-size: 14px;
 	font-weight: bold;
 	margin-bottom: 20px;
 }

 .footer-distributed .footer-icons{
 	margin-top: 25px;
 }

 .footer-distributed .footer-icons a{
 	display: inline-block;
 	width: 35px;
 	height: 35px;
 	cursor: pointer;
 	background-color:  #33383b;
 	border-radius: 2px;

 	font-size: 20px;
 	color: #ffffff;
 	text-align: center;
 	line-height: 35px;

 	margin-right: 3px;
 	margin-bottom: 5px;
 }

 #logo {
    width: 200px;
    height: 60px;
    margin-right: 50px;
    margin-left: 15px;
  }
