* {
    box-sizing: border-box;
}

/* ------body styling-------- */
#weather {
    background-color: #4d4d4d;
    color: #ddd;
    font-family: "Times New Roman", Times, serif;
}

#icon  i {
  line-height: 50vw;
  height: 50vw;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 50vw;
  opacity: 0.9;
  text-shadow: 5px 5px #333;
}

#description {
  border-left: thick solid #222;
  border-left-width: 5px;
  padding-left: 4%;
}

.temperature {
  padding-top: 5%;
  margin:  auto;
  width: 100%;
  font-size: 10vw;
  opacity: 0.85;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 2%;
  text-shadow: 5px 5px #333;
}

#location {
  position: center;
  margin: auto;
  width:50%;
 font-size: 10vw;
 opacity: 0.9;
 text-shadow: 5px 5px #333;
}

.location {
  position: relative;
  text-align: center;
  margin-bottom: 17%;
}

#humidity, #pressure, #windSpeed, #wind-direction, #unit, #visibility, #uv , #feelslike, #dewpoint {
  font-size: 5vw;
  color: #999;
}

.humidity-description, .pressure-description, .speed-description, .direction-description, .visibility-description, .uv-description, .feelslike-description, .dewpoint-description {
    font-size: 6vw;
    padding-left: 3%;
    color: #999;
    text-shadow: 1px 1px #777;

}

img {
  width: 10%;
  height: 10%;
}

.humidity1, .pressure1, #wind-speed, #wind-direction {
  padding-bottom: 5px;


}

.dewpoint, .feelslike, .visibility, .uv, .wind-speed, .wind-direction, .pressure, .humidity {
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  width: 18%;

}

ul {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;

}


.verticalLine2{
  border: thick solid #222;
  border-width: 5px;
  width: 90%;
  box-shadow: 10px 10px 5px #222;
  color: #222;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #999;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  font-family: 'Helvetica', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #222;
  margin: 4% 2%;
  padding-left: 3%;

}

.verticalLine1 {
  border: thick solid #222;
  border-width: 5px;
  width: 90%;
  box-shadow: 10px 10px 5px #222;
  color: #222;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #999;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  font-family: 'Helvetica', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #222;
  margin: 4% 2%;
  padding-left: 3%;
}


#days {
  font-size: 3vw;

}

#vertical5 {
  display: block;
  border: thick solid #222;
  border-width: 5px;
  width: 44%;
  box-shadow: 10px 10px 5px #222;
  color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #00b386;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  font-family: 'Helvetica', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #888;
  margin: auto;
  margin-top: 2%;

}


#vertical2, #vertical3, #vertical4, #vertical1 {
  display: inline-block;
  border: thick solid #222;
  border-width: 5px;
  width: 42%;
  box-shadow: 10px 10px 5px #222;
  color: #333;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #00b386;
  border-radius: 20%; /* (height/2) + border-width */
  border-style: solid;
  border-width: 2%;
  font-family: 'Helvetica', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #888;
  margin: 2% 2%;
}



#day1, #day2, #day3, #day4, #day5 {
  padding-bottom: 5px;
  text-align: center;
  font-size: 6vw;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: "Aladin", Helvetica, sans-serif;
  color: rgba(48,48,48,1);
  text-align: center;
  text-transform: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
   text-shadow: 1.5px 1.5px #555;
}
#date1, #date2, #date3, #date4, #date5 {
  padding-bottom: 3%;
  text-align: center;
  font-size: 4vw;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: "Aladin", Helvetica, sans-serif;
  color: rgba(48,48,48,1);
  text-align: center;
  text-transform: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
   text-shadow: 1.5px 1.5px #555;
}

#icon1, #icon2, #icon3, #icon4, #icon5 {
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 7vw;
  color: #333;
  text-shadow: 4px 4px #555;

}
#condi1, #condi2, #condi3, #condi4, #condi5 {
  font-weight: bold;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: 100%;
  margin: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  overflow: visible;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font: "Aladin", Helvetica, sans-serif;
  color: rgba(48,48,48,1);
  text-align: center;
  text-transform: normal;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.lowdis {
font-size: 4vw;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 0;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: "Aladin", Helvetica, sans-serif;
color: rgba(48,48,48,1);
text-align: center;
text-transform: normal;
-o-text-overflow: clip;
text-overflow: clip;
white-space: pre;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
text-shadow: 1px 1px 1px #222;
}

.highdis {
float: right;
font-size: 4vw;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 0;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: "Aladin", Helvetica, sans-serif;
color: rgba(48,48,48,1);
text-align: center;
text-transform: normal;
-o-text-overflow: clip;
text-overflow: clip;
white-space: pre;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
text-shadow: 1px 1px 1px #222;
}

#date {
    font-size: 5vw;
    opacity: 0.5;

}

.today-date {
  text-align: center;
}

#icon12345 {
  font-size: 15vw;
  padding-bottom: 5%;
}

#form {
  margin: auto;
  position: static;
}

#low1, #low2, #low3, #low4, #low5 {
padding-left: 3%;
font-size: 6vw;
text-shadow: 1px 1px 1px #222;
color: #333;
}

#high1, #high2, #high3, #high4, #high5 {
  float: right;
  padding-right: 5%;
  font-size: 6vw;
  text-shadow: 1px 1px 1px #222;
  color: #333;
}
#logo {
   width: 200px;
   height: 60px;
   margin-right: 50px;
   margin-left: 15px;
 }

/* style the PlaceHolder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #222;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #222;
}
:-moz-placeholder { /* Firefox 18- */
  color: #222;
}
button {
  height: 40px;
  width: 35px;
  background-image:url("../imgs/Search.png");
  background-repeat:no-repeat;
  background-position: center;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #00664d;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  font-family: 'Helvetica', sans-serif;
  font-size: 3vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0.5;
}

button:active {
  border-color: red;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#search1, #search2 {
  float: left;
  width: 38%;
  height: 45px;
  margin-left: 0.5%
}
#search3 {
  margin-left: 2%;
}

.flexsearch--input {
  text-align: center;
  color: #111;
  font-weight: bold;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #00664d;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
  border-width: 5px;
  font-family: 'Helvetica', sans-serif;
  font-size: 3vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0.5;
}

.flexsearch--input:focus {
  border-color: #333;

}


/* styling footer */
footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
  margin-top: 3%;
}
