
body {
    background-image: url("../imgs/background-images/day.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;



}
#weather-icon{
   font-size:   300px;



}
#icon {
  position: relative;
  top: -40px;
  padding: 5px;
  margin: auto;
  width: 20%;
  height: 100%;
  font-size-adjust: auto;
  opacity: 0.7

}

#search {
    margin: auto;
    width: 50%;
}
.search {
    margin: auto;
    width: 45%;
    padding: 10px

}

input[type=text] {
    opacity: 0.5;
    font-size: 18px;
    background-color: #fff;
    background-image: url('../imgs/search.png');
    background-position: 9px 9px;
    background-size: 23px;
    background-repeat: no-repeat;
    color: #d7d7d7;
    width:430px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;


}
input[type=text]:focus {
    width: 100%;
}
.weather-app {
color: white;
}

.left {

}

.temperature {
margin: auto;
width: 1000px;
font-size: 50px;
opacity: 0.75;
text-align: center;
}

.location {
 position: center;
  width:1000px;
  margin: auto;
  text-align: center;
}

#location {
  font-size: 80px;
  opacity: 0.7;

}

.right {

}

.top {

}

.top img {

}

.bottom {

}

.humidity {
  font-size:  100px
}

.wind {
}
